.App {
  text-align: center;
}

input {
  width: 270px;
  height: 35px;
  margin: 8px;
}

textarea {
  width: 270px;
  height: 45px;
  margin: 8px;
}

.container {
  margin: 25px;
}

.saveButton {
  width: 280px;
  height: 40px;
  text-decoration: none;
  background-color: rgb(31, 219, 219);
  color: white;
  border: none;
  font-size: 25px;
  font-weight: bolder;
}
